<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">RecipeBook.Web</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>


    </nav>

    
        <AuthorizeView>
    <Authorized>
        <div class="nav-item px-3">
            <span class="nav-link disabled">
                👋 @context.User.Identity?.Name
            </span>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="/Identity/Account/Manage">
                Profile
            </a>
        </div>
        <div class="nav-item px-3">
            <form method="post" action="/Identity/Account/Logout" @formname="logout">
                <button type="submit" class="nav-link btn btn-link p-0">
                    Logout
                </button>
            </form>
        </div>
    </Authorized>

    <NotAuthorized>
        <div class="nav-item px-3">
            <a class="nav-link" href="/Identity/Account/Login">
                Login
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="/Identity/Account/Register">
                Create account
            </a>
        </div>
    </NotAuthorized>
</AuthorizeView>

</div>

