@using Microsoft.AspNetCore.Identity
@using RecipeBook.Web.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown ms-2">
        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="user-avatar me-2">@User.Identity?.Name?.Substring(0,1).ToUpper()</span>
            <span class="d-none d-md-inline">@User.Identity?.Name</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end shadow-sm">
            <li><a class="dropdown-item" href="/Identity/Account/Manage">Mi perfil</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li>
                <form method="post" action="/Identity/Account/Logout" class="px-3 py-2">
                    <button type="submit" class="btn btn-sm btn-outline-danger w-100">Salir</button>
                </form>
            </li>
        </ul>
    </li>
}
else
{
    <li class="nav-item ms-2">
        <a class="btn btn-sm btn-outline-primary me-2" href="/Identity/Account/Login">Ingresar</a>
        <a class="btn btn-sm btn-primary" href="/Identity/Account/Register">Crear cuenta</a>
    </li>
}
